<div class="container">
  <div class="article">
    <h3>Welcome to my side</h3>
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis
      praesentium voluptatum deleniti atque corrupti, quosdolores et quas
      molestias excepturi sint, obcaecati cupiditate non provident, similique
      sunt in culpa, qui officia deserunt mollitiaanimi, id est laborum et
      dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
      Nam libero tempore, cum solutanobis est eligendi optio, cumque nihil
      impedit, quo minus id, quod maxime placeat, facere possimus, omnis
      voluptas assumendaest, omnis dolor repellendus.
    </p>
  </div>
  <app-system-status></app-system-status>
</div>
