<nav class="nav">
  <ul class="nav-links">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/home">Home</a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="people"
        >People <span class="badge">{{ numberOfPeople }}</span></a
      >
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Stats</a
      >
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Settings</a
      >
    </li>
  </ul>
  <a
    routerLink="profile"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Profile</a
  >
</nav>
